
.a {
    text-decoration: none;
    color: #fff;
}
.container {
    width: 1250px;
    margin: auto;
}
.header {
    align-items: center;
    background-color: rebeccapurple;
    color: #fff;
    display: flex;
    height: 75px;
    justify-content: space-between;
}
.headerTitleContainer {
    margin-left: 20px;    
}
.headerTitle {
    color: #fff;
    text-decoration: none;
}
.headerNavUl {
    margin-right: 20px;    
}

.list {
    margin-right: 20px;
    list-style: none;
    display: flex;
    align-items: center;
}
.listItem {
    padding: 5px 10px;
}
.listItemLine {
    border: 1px solid #ccc;
    height: 50px;
}
.listItemAuth {
    align-items: center;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-left: 20px;    
    padding: 10px 0px;
    transition: background 200ms ease;
    display: flex;
    justify-content:center;
    width: 100px;
    cursor: pointer;
}
.listItemAuth:hover {
    background-color: rgba(133, 68, 199, 0.959);
}
.listLink {
    text-decoration: none;
    color: #fff;
}

/*

    -> Global Page Styles

*/

.container {
    height: calc( 100vh - 75px);
}

/*

    => Favorite Page

*/
.favoriteInfoContainer {
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    height: 100%;
}
.info {
    width: 350px;
}
.infoDescription {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 5px;
}
/* .infop {
    padding: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
/* } */
.infoImg {
    width: 350px;
}
/*

    - > Home Page

*/
/* .gifFormContainer {

} */
.gifFormContainer {
    display: flex;
    justify-content: center;
}
.gifForm {
    align-items: center;
    display: flex;
    justify-content: space-around;
    height: 50px;
    width: 80%;
}
.gifInput {
    border: 1px solid #6C63FF;
    border-radius: 2px;
    padding: 10px;
    outline: none;
    height: 30px;
    width: 600px;
}
.gifInput:focus {
    color: #6C63FF;
}

.gifSubmit {
    transition: transform 200ms ease;
    background-color: #6C63FF;
    padding: 5px 20px;
    color: white;
    border: 1px solid #6C63FF;
    box-shadow: 1px -2px 2px #6C63FF;
}
.gifSubmit:active{ 
    transform: scale(.8);
}